<nav class=nav>
    <ul class="nav__list">
        <li class="nav__btn"><a class="nav__link" href="friends.html"><i class="fas fa-home fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="chats.html"><i class="far fa-file fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="find.html"><i class="fas fa-camera-retro fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="more.html"><i class="far fa-user fa-2x"></i></a></li>
    </ul>
</nav>
