{% extends "base.html" %}
{% load static %}

{% block content %}
<nav class=nav>
    <ul class="nav__list">
        <li class="nav__btn"><a class="nav__link" href="{% url  'show' %}"><p></p><i class="fas fa-home fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'introduceMe'%}"><i class="far fa-file fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'photoMe'%}"><i class="far fa-image fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'profileMe'%}"><i class="far fa-user fa-2x"></i></a></li>
    </ul>
</nav>


<main class="main-title">
환영합니다 !! {{userName}}님 !!! 

<div class="main_introduce">
   <h6>이 페이지를 사용하는 방법은 간단합니다 ! </h6>
   <br>
   <i class="fas fa-home fa-2x"></i><p>이름 입력 페이지입니다 ! </p>
   <i class="far fa-file fa-2x"></i><p>자기소개 페이지 입니다 !</p>
   <i class="far fa-image fa-2x"></i><p>저의 갤러리입니다 ! </p>
   <i class="far fa-user fa-2x"></i><p>저의 추가정보 입니다 !</p>
</div>
</main>


{% endblock %}