{% extends "base.html" %}
{% load static %}
{% block content %}
<nav class=nav>
    <ul class="nav__list">
        <li class="nav__btn"><a class="nav__link" href="{% url  'show' %}"><p></p><i class="fas fa-home fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'introduceMe'%}"><i class="far fa-file fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'photoMe'%}"><i class="far fa-image fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'profileMe'%}"><i class="fas fa-user fa-2x"></i></a></li>
    </ul>
</nav>


<body>
    <h1>Contact Or Blog</h1>
    <section class="blog">
        <h3>블로그</h3>
        <h2>네이버 : </h2>
        <h2>벨로그 : </h2>
        <h2>깃허브 : </h2>
        <h2>카카오톡 : </h2>
        <h2>티스토리 : </h2>
        에서 활동 혹은 연락가능합니다 ! 
        
        
        
    </section>

</body>
{% endblock %}